{% extends "base.html" %}

{% block content %}
{% load bootstrap %}
<br>
<br>
<br>
<br>
<div class="container">
<div class="col-md-6 col-md-offset-3">
    <form method="post" action=".">
            {% csrf_token %}
		    <fieldset>
		        <legend>Login</legend>
		        {{ form | bootstrap_horizontal }}             	
		    </fieldset>
        	<div class="buttons-container">
        		<input type="submit" value="Log in" class="btn btn-info pull-right"/>
        		<input type="hidden" name="next" value="{{ next }}" />
        	</div>
    </form>
</div>
</div>
{% endblock %}
