{% extends "base.html" %}
{% load i18n %}

{% block content %}
<br>
<br>
<br>
<div style="text-align: center;font-size: 23pt;padding-bottom: 30px;color: #FFB75E;">Internal Portal</div>
<div class="container">
<div class="col-md-6 col-md-offset-3">
	        {% csrf_token %}
		    <fieldset>
		        <legend>Password Reset</legend>
		        <p>{% trans "Password reset successfully!" %}</p>
		    </fieldset>
		    <br><br>
		    <p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
</div>
</div>

{% endblock %}
