{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<SECTION class="content">
  
<div class="table-responsive container"> 
  <legend>Asset Categories</legend>
    <form method="GET" action=''>
  <div class="panel-body">
        <table id="myTable" class="table table-fixedheader table-hover">
            <thead>
                <tr>
                    <th width="2%">#</th>
                    <th width="25%">Category</th>
                    <th width="70%">Description</th>             
                </tr>
            </thead>
            <tbody style="height:200px">
                {% for category in categories %}
                <tr>
                    <td width="2%">{{ category.id }}</td>
                    <td width="2%">{{ category.category }}</td>
                    <td width="24%">{{ category.description }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>    
  </div>  
</SECTION>
{% endblock content %}