{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<SECTION class="content">
<form class="form-horizontal" role="form" method="POST" action="">
    {% csrf_token %}
    <fieldset>
        <legend>Add Asset Categories</legend>
        {{ categoryForm|bootstrap_horizontal }}
    </fieldset>
	<div class="buttons-container">
		<input type="submit" class="btn btn-primary" value="Submit"></input>
		<button type="button" class="btn btn-warning">Cancel</button>
	</div>
</form>
	
</SECTION>
{% endblock content %}