{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<script src="{% static 'js/date-picker.js' %}"></script>
<link href="{% static 'css/date-picker.css' %}" rel="stylesheet">
<script>
  $(function() {
    //alert("Trying the Date Widget...");
    $( ".date_picker" ).datepicker({ format: "yyyy-mm-dd" });
    $('#id_employee_id').css('pointer-events','none');
  });

</script>
<SECTION class="content">
<form class="form-horizontal" role="form" method="POST" action="" >
    {% csrf_token %}
    <fieldset>
        <legend>Edit Leave Information</legend>            
        {{ leaveForm|bootstrap_horizontal }}	
    </fieldset>
	<div class="buttons-container">
    
        {% if user.employeesdirectory.is_manager %}
            {% url 'leaves_list_per_manager' as cancelUrl %}
        {% elif user.employeesdirectory.role == 'EMPLOYEE' %}
            {% url 'employee_leaves' as cancelUrl %}
        {% else %}
            {% url 'leaves_list' as cancelUrl %}
        {% endif %}
        
		<input type="submit" class="btn btn-primary" value="Submit"></button>
		<button onclick="window.location.href='{{ cancelUrl }}'" type="button" class="btn btn-warning">Cancel</button>
	</div>
</form>
	
</SECTION>
{% endblock content %}