{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<SECTION class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Leave Details</h3>      
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div id="user_info">
                  <h3 class="info-title">Profile Information</h3>
                  <table  class="table table-user-information">
                    <table  class="table table-user-information">
                      <tbody>
                        <tr>
                          <td class="field-label">Employee</td>
                          <td>{{ leaveInfo.employee_id }}</td>
                        </tr>
                        <tr>
                          <td class="field-label">Category</td>
                          <td>{{ leaveInfo.leaveType }}</td>
                        </tr>
                        <tr>
                          <td class="field-label">Manager</td>
                          <td width="20%">{{ leaveInfo.employee_id.manager }}</td>
                        </tr>
                        <tr>
                          <td class="field-label">From</td>
                          <td>{{ leaveInfo.startedDate }}</td>
                        </tr>
                        <tr>
                          <td class="field-label">End</td>
                          <td>{{ leaveInfo.endDate }}</td>
                        </tr>

                        <tr>
                          <td class="field-label">Number of Days</td>
                          <td>{{ leaveInfo.numberOfDays|floatformat }}</td>
                        </tr>
                        <tr>
                          <td class="field-label">Reason</td>
                          <td>{{ leaveInfo.reason }}</td>
                        </tr>
                        <tr>
                          <td class="field-label">Status</td>
                          <td>{{ leaveInfo.status }}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div>
              
              {% if user.employeesdirectory.is_manager %}
                  {% url 'leaves_list_per_manager' as backUrl %}
              {% elif user.employeesdirectory.role == 'EMPLOYEE' %}
                  {% url 'employee_leaves' as backUrl %}
              {% else %}
                  {% url 'leaves_list' as backUrl %}
              {% endif %}
              {% url 'leave_update' id=leaveInfo.id as editUrl %}
              <span class="pull-right">
                {% if leaveInfo.status != 'CLOSED' and leaveInfo.status != 'DISCARD' %}
                <a href="{{ editUrl }}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">Edit</a>
                {% endif %}
                <a href="{{ backUrl }}" data-original-title="Go back to previous page" data-toggle="tooltip" type="button" class="btn btn-sm btn-info">Back</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>  
</SECTION>
{% endblock content %}

