{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<SECTION class="content">
<form class="form-horizontal" role="form" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Leave Allocation by Import</legend>
        {{ csvForm | bootstrap_horizontal }}             	
    </fieldset>
    <div class="buttons-container">
		<input type="submit" class="btn btn-primary" value="Import"></input>
		<button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'employees_list' %}'">Cancel</button>
	</div>
    <br>
    <br>
    <fieldset>
        <legend>Leave Allocation per Employee</legend>            
        {{ lAccForm | bootstrap_horizontal }}    
    </fieldset>
    <div class="buttons-container">
        <input type="submit" class="btn btn-primary" value="Submit"></input>
        <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'employees_list' %}'">Cancel</button>
    </div>
</form>
	
</SECTION>
{% endblock content %}