{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<script src="{% static 'js/date-picker.js' %}"></script>
<link href="{% static 'css/date-picker.css' %}" rel="stylesheet">
<script>
  $(function() {
    //alert("Trying the Date Widget...");
    $( ".date_picker" ).datepicker({ format: "yyyy-mm-dd" });
  });
</script>
<SECTION class="content">
<form class="form-horizontal" role="form" method="POST" action="">
    {% csrf_token %}
    <fieldset>
        <legend>Leave Request<!-- Trigger the modal with a button -->
        <button type="button" style="float:right; line-height:1.0;" class="btn btn-info" data-toggle="modal" data-target="#myModal">Holidays</button></legend>
        
        {{ leaveForm|bootstrap_horizontal }}	
    </fieldset>
	<div class="buttons-container">
		<input type="submit" class="btn btn-primary" value="Submit"></input>
    {% url 'employee_info' as cancelUrl %}
		<button onclick="window.location.href='{{ cancelUrl }}'" type="button" class="btn btn-warning">Cancel</button>
	</div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">List of Holidays</h4>
        </div>
        <div class="modal-body">
          <table  class="table table-user-information">
            <thead>
              <tr>
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for holiday in holidaysList %}
              <tr>
                <td>{{ holiday.description }}</td>
                <td>{{ holiday.date }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Code Ends Here -->
</form>
	
</SECTION>
{% endblock content %}
