{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'js/date-picker.js' %}"></script>
<link href="{% static 'css/date-picker.css' %}" rel="stylesheet">
<script>
  $(function() {
    //alert("Trying the Date Widget...");
    $( ".date_picker" ).datepicker({ format: "yyyy-mm-dd" });
  });
</script>
<SECTION class="content">
	
<div class="table-responsive container"> 
	<legend>
        {% if '/empleaves' in request.path %}
            My Leaves
        {% elif '/myempleavesToApprove' in request.path %}
            Leaves To Approve
        {% elif '/leavesToApprove' in request.path %}
            Leaves To Approve
        {% else %}
            Leave Summary
        {% endif %}
        </legend>
    <form method="GET" action=''>
	<div class="search-box">
		<label for="name" class="control-label">Leave Filters</label>
		<input type="text" name="searchQueryStr" style="width: 30%;" class="form-control" placeholder="Search by Employee, Summary, Category, Status" value="{{ request.GET.searchQueryStr }}" />
        <input type="text" name="searchQueryStartDate" style="width: 10%;" class="form-control date_picker" placeholder="Start date" value="{{ request.GET.searchQueryStartDate }}" />
        <input type="text" name="searchQueryEndDate" style="width: 10%;" class="form-control date_picker" placeholder="End date" value="{{ request.GET.searchQueryEndDate }}" />
        <input type="submit" class="btn btn-primary" value="Search"></input>
        <label class="step-links" style="float:right;display: inline-block; margin-bottom: 5px;font-weight: bold;">
            {% if leavesList.has_previous %}
            <a href="?searchQueryStr={{ request.GET.searchQueryStr }}&searchQueryStartDate={{ request.GET.searchQueryStartDate }}&searchQueryEndDate={{ request.GET.searchQueryEndDate }}&page={{ leavesList.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ leavesList.number }} of {{ leavesList.paginator.num_pages }}
            </span>
            {% if leavesList.has_next %}
            <a href="?searchQueryStr={{ request.GET.searchQueryStr }}&searchQueryStartDate={{ request.GET.searchQueryStartDate }}&searchQueryEndDate={{ request.GET.searchQueryEndDate }}&page={{ leavesList.next_page_number }}">Next</a>
            {% endif %}
        </label>
	</div>
    <div class="panel-body">
        <table id="myTable" class="table table-fixedheader table-hover">
            <thead>
                <tr>
                    <th width="3%">#</th>
                    <th width="20%">Employee Name</th>
                    <th width="7%">Category</th>
                    <th width="33%">Reason</th>
                    <th width="10%">Start Date</th>
                    <th width="10%">End Date</th>
                    <th width="7%"># Days</th>
					<th width="10%">Status</th>
                </tr>
            </thead>
            <tbody style="height:200px">
                {% for leave in leavesList %}
                {% if user.employeesdirectory.is_manager %}
                  {% url 'leave_update' id=leave.id as leaveUrl %}
                {% elif user.employeesdirectory.role == 'EMPLOYEE' %}
                  {% url 'leave_details' id=leave.id as leaveUrl %}
                {% else %}
                  {% url 'leave_details' id=leave.id as leaveUrl %}
                  {% url 'leaves_details' as backUrl %}
                {% endif %}
                {% url 'leave_details' id=leave.id as leaveDetailsUrl %}
                {% if leave.status == 'CLOSED' %}
                <tr onclick="document.location='{{ leaveDetailsUrl }}'">
                {% elif leave.employee_id == user.employeesdirectory %}
                <tr onclick="document.location='{{ leaveDetailsUrl }}'">
                {% else %}
                <tr onclick="document.location='{{ leaveUrl }}'">
                {% endif %}
                    <td width="3%">{{ leave.id }}</td>
                    <td width="20%">{{ leave.employee_id }}</td>
                    <td width="7%">{{ leave.leaveType }}</td>
                    <td width="33%">{{ leave.reason }}</td>
                    <td width="10%">{{ leave.startedDate }}</td>
                    <td width="10%">{{ leave.endDate }}</td>
                    <td width="7%">{{ leave.numberOfDays|floatformat }}</td>
                    <td width="10%">{{ leave.status }}</td>
                </tr>
                {% endfor %}				
            </tbody>
        </table>
    </div>
  </div>	
</SECTION>
{% endblock content %}

