{% extends 'base.html' %}
{% block content %}
{% load bootstrap %}
{% load staticfiles %}
<script type="text/javascript">
function toggleProfile(value){
    if(value == "0"){
        document.getElementById('user_info').style.display = "block";
        document.getElementById('leave_info').style.display = "none";
        //document.getElementById('assets_info').style.display = "none";
        document.getElementById('leave_link').classList.remove("link-active");
        //document.getElementById('assets_link').classList.remove("link-active");
        document.getElementById('user_link').classList.add("link-active");
    }
    else if(value == "1"){
        document.getElementById('leave_info').style.display = "block";
        document.getElementById('user_info').style.display = "none";
        //document.getElementById('assets_info').style.display = "none";
        document.getElementById('user_link').classList.remove("link-active");
        //document.getElementById('assets_link').classList.remove("link-active");
        document.getElementById('leave_link').classList.add("link-active");
    }
    else {
        //document.getElementById('assets_info').style.display = "block";
        document.getElementById('leave_info').style.display = "none";
        document.getElementById('user_info').style.display = "none";
        document.getElementById('leave_link').classList.remove("link-active");
        document.getElementById('user_link').classList.remove("link-active");
        //document.getElementById('assets_link').classList.add("link-active");
    }

}
</script>
<SECTION class="content">
<form class="form-horizontal" role="form" method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8" >
                <div class="">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Employee</h3>      
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> 
                                <div class="links">
                                    <div id="user_link" class="link-active">
                                        <a onclick="toggleProfile(0);">Profile Info</a>
                                    </div>
                                    <div id="leave_link">
                                        <a onclick="toggleProfile(1);">Leave balance</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <div id="user_info">
                                    <h3 class="info-title">Profile Information</h3>
                                    <fieldset>
                                        {{ empForm|bootstrap_horizontal }}
                                    </fieldset>
                                </div>
                                <div id="leave_info" style="display:none;">
                                    <h3 class="info-title">Leave Balance</h3>
                                    <fieldset>
                                        
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="buttons-container">
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                            <button type="button" class="btn btn-warning">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
	
</SECTION>

{% endblock content %}